.headerComponent {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
}

.headerImg {
    width: 100%;
    height: 100%;
}

.headerText {
    font-family: 'Lora', serif;
}

.myText {
    position: absolute;
    top: 5%;
    left: 45%;
    font-size: 18px;
    color: rgb(60, 60, 60);
}

.blogText {
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 100px;
    color: rgb(60, 60, 60);
}